<form [formGroup] = "msgform" (ngSubmit) ="sendData()" >
<!-- סוגריים עגולים שמורים לאיבנטים -->
<div>
  <!--label+input-->
  <label for="message">Message Body</label>
  <input type="text" name="message" id="message"
  class= "form-control" formControlName = "message" >

</div>

<div>
 <label for="user">User ID </label>
  <input type="text" name="user" id="user"
  class= "form-control" formControlName = "user">

</div>

<input type="submit" value="Send the message"
class="btn btn-primary">


</form>