<form [formGroup] = "loginform" (ngSubmit) ="login()" >
<!-- סוגריים עגולים שמורים לאיבנטים -->
<div>
  <!--label+input-->
  <label for="user" >User Name</label>
  <input type="text" name="user" id="user"
  class= "form-control" formControlName = "user" >

</div>

<div>
 <label for="password">Password</label>
  <input type="text" name="password" id="password"
  class= "form-control" formControlName = "password">
</div>
<div *ngIf = "invalid" class="alert alert-danger">Invalid username or password</div>

<input type="submit" value="login"
class="btn btn-primary">

</form>
<div>
  <button class="btn btn-danger" (click)= "logout()">Logout</button>
</div>
